<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2020</h1>
<h1 style="font-size: 250%;">Problem Set #2</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Thursday 9/3/2020; Due Thursday 9/17/2020</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be accepted, but your lowest problem-set grade will be dropped. Feel free to get help from others, but the work you submit in should be your own.

In [3]:
# Do not make any edits in this cell!
class Student:
    first = "Bokai"
    last = "Li"
    onyen = "bokai247"
    pid = "730170176"

In the following questions you are asked to write a single SQL query to find the requested results from a database derived from the demographic, COVID-19, and hospital data used in Problem set #1. The database has the following tables:
<table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="7" style="text-align:center; background-color: skyblue;">Demograpics</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>race</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>sex</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>agelo</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">agehi</td>
                <td style="border-collapse: collapse; border: 1px solid black;">count</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="5" style="text-align:center; background-color: skyblue;">County</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">region</td>
                <td style="border-collapse: collapse; border: 1px solid black;">cog</td>
                <td style="border-collapse: collapse; border: 1px solid black;">msa</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="4" style="text-align:center; background-color: skyblue;">Covid19</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>date</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">cases</td>
                <td style="border-collapse: collapse; border: 1px solid black;">death</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr style="border:none;">
            <td colspan="6" style="border:none;">&nbsp;</td>
        </tr>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;"  colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="8" style="text-align:center; background-color: skyblue;">Hospital</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">city</td>
                <td style="border-collapse: collapse; border: 1px solid black;">beds</td>
                <td style="border-collapse: collapse; border: 1px solid black;">icu</td>
                <td style="border-collapse: collapse; border: 1px solid black;">discharges</td>
                <td style="border-collapse: collapse; border: 1px solid black;">patientdays</td>
                <td style="border-collapse: collapse; border: 1px solid black;">revenue</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="3" style="text-align:center; background-color: skyblue;">HospitalCounty</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">incounty</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

An <a href="http://csbio.unc.edu/mcmillan/Media/NCCOVID19.db" download>example database</a> and the interactive SQL parser (<a href="http://csbio.unc.edu/mcmillan/Media/iSQL.py" download>iSQL.py</a>) are provided for experimentation. You will need to copy iSQL.py into the same Jupyter Hub directory as the notebook for this problem set and invoke it as follows:

    import iSQL
    
    query = iSQL.parser("NCCOVID19.db")
    

Make sure that you copy your SQL query into the cell provided for your answer. Only that cell will be graded.
***Warning***, if your query appears to give the correct result for the given database, that does not mean that it is correct. A correct query must give the requested result for *any* and *all* valid instances of the given database schema.

In [4]:
import iSQL

query = iSQL.parser("NCCOVID19.db")

VBox(children=(Textarea(value='', description='SQL:', layout=Layout(height='100px', width='600px')), HBox(chilâ€¦

---
**Problem 1:** Generate a table with the name, population, and region of all North Carolina counties in 2020.

SELECT C.name, SUM(D.count) AS population, C.region 
FROM County C, Demographics D
WHERE C.fips = D.fips AND D.year = 2020
GROUP BY C.name

---
**Problem 2:** Generate a table with the name and number of hospital beds found in each North Carolina county.

SELECT C.name, IFNULL(SUM(H.beds),0) AS 'hospital beds'
FROM HospitalCounty HC, County C LEFT JOIN Hospital H
ON H.hid = HC.hid and HC.fips = C.fips
GROUP BY C.name

---
**Problem 3:** . Generate a table with each North Carolina County and the date of its first confirmed COVID-19 case.

SELECT C.name, MIN(CO.date) AS 'first confirmed date'
FROM County C, Covid19 CO
WHERE C.fips=CO.fips
GROUP BY C.name

---
**Problem 4:** Generate a list of all Hospital names and North Carolina Counties in which there is more than one hospital.

SELECT H.name AS 'hospital name', C.name AS 'county'
FROM HospitalCounty HC, County C, Hospital H, (
    SELECT C.name, COUNT(*) AS 'hospital'
    FROM HospitalCounty HC, County C, Hospital H
    WHERE H.hid = HC.hid and HC.fips = C.fips
    GROUP BY C.name) AS P
WHERE H.hid = HC.hid and HC.fips = C.fips and P.name = C.name and hospital>1 and HC.incounty=1

---
**Problem 5:** Generate a sorted list, from high to low, of North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020. The output should include the county's name, 25-45 population, and ratio.

SELECT C.name,  SUM(D.count) AS '25-45 population', (SUM(D.count)*1.0)/pop AS ratio
FROM County C, Demographics D, (
    SELECT D2.fips, SUM(D2.count) AS pop 
    FROM Demographics D2 WHERE D2.year=2020 GROUP BY D2.fips) AS P
WHERE C.fips = D.fips AND D.year = 2020 AND D.fips = P.fips AND D.agelo >= 25 AND D.agehi <= 45
GROUP BY C.name
ORDER by ratio desc

---
**Problem 6:** Generate a sorted list, from high to low, of the largest increase in North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020 when compared to 2000. The output should include the county's name, 25-45 population ratio in 2020, and delta of ratio change.

SELECT name2020 as 'county name', ratio2020 as '25-45 population ratio', ratio2020-ratio2000 as delta
FROM (
    SELECT C.name as name2020, (SUM(D.count)*1.0)/pop AS ratio2020
    FROM County C, Demographics D, (
        SELECT D2.fips, SUM(D2.count) AS pop 
        FROM Demographics D2 WHERE D2.year=2020 GROUP BY D2.fips) AS P
    WHERE C.fips = D.fips AND D.year = 2020 AND D.fips = P.fips AND D.agelo >= 25 AND D.agehi <= 45
    GROUP BY C.name),
    (SELECT C.name as name2000, (SUM(D.count)*1.0)/pop AS ratio2000
    FROM County C, Demographics D, (
        SELECT D2.fips, SUM(D2.count) AS pop 
        FROM Demographics D2 WHERE D2.year=2000 GROUP BY D2.fips) AS P
    WHERE C.fips = D.fips AND D.year = 2000 AND D.fips = P.fips AND D.agelo >= 25 AND D.agehi <= 45
    GROUP BY C.name)
WHERE name2020 = name2000
ORDER by delta desc

---
**Problem 7:** For each county, find the single day with the most COVID-19 deaths reported. Generate a list of each county, date, and the number of deaths.

SELECT C.name, V.date, Max(V.deaths)
FROM County C, Covid19 V
WHERE C.fips=V.fips
group by C.name

---
**Problem 8:** On what single day were the most North Carolina COVID-19 deaths reported in the given reporting interval? For that day generate a list of each county, date, and the number of deaths. Include all counties, even those that did not report a death on the given date.

SELECT C.name as county, IFNULL(maxDate, maxDate2) as 'date', IFNULL(death,0) as deaths
    FROM 
        (SELECT date as maxDate2 , max(deathbydate)
        FROM( 
            SELECT V.date, SUM(V.deaths) as deathbydate
            FROM Covid19 V
            Group by V.date)),
    County C LEFT JOIN
    (
    SELECT C.name as county, maxDate, CV.deaths as death
    FROM Covid19 CV, County C,
        (SELECT date as maxDate , max(deathbydate)
        FROM( 
            SELECT V.date, SUM(V.deaths) as deathbydate
            FROM Covid19 V
            Group by V.date))
    WHERE C.fips = CV.fips AND CV.date = maxDate)
ON C.name = county

---
**Problem 9:** Generate a list of North Carolina counties where white females of voting age (&ge; 18 years old) are the largest voting age demographic in *2020*. *In your report, provide multiple rows for each county of voting age residents broken down by race and sex. You should only include rows for countys in which the largest voting demographic is white and female.*

select C.name, D.sex, D.race, sum(D.count) as population
from County C, Demographics D, (
    select P2.fips
    from(
        select P.fips, P.maxRace, P.maxSex, max(P.count) from
            (select D.fips as fips, D.sex as maxSex, D.race as maxRace, sum(D.count) as count from Demographics D
            where D.agelo >=18 and year = 2020
            group by D.fips, D.sex, D.race) as P
        group by P.fips) as P2
    where P2.maxRace = 'white' and P2.maxSex='female' ) as P3
where D.agelo >=18 and P3.fips=C.fips and D.fips = C.fips and D.year = 2020
group by D.fips, D.race, D.sex

---
**Problem 10:** What is the difference in total population between the age group from 45 to 54 in 2020 and the age group from 25 to 34 in *2000* for each county? Your output should be a list of counties and differences sorted from smallest (could be negative) to largest.

select C.name, pop2020-pop2000 as difference
from County C,
    (select D.fips, sum(D.count) as pop2000
    from Demographics D
    where D.agelo>=25 and D.agehi<=34 and year=2000
    group by D.fips) as P1,
    (select D.fips, sum(D.count) as pop2020
    from Demographics D
    where D.agelo>=45 and D.agehi<=54 and year=2020
    group by D.fips) as P2
Where P1.fips=P2.fips and C.fips=P1.fips
order by difference asc

---
**Problem 11:** What 10 counties have the highest percentage of residents over 65 years of age in *2020*? Provide both the county's name and percentage.

Select C.name, 100*sum(D.count)*1.0/pop as 'percentage'
from County C, Demographics D, 
    (Select D2.fips, sum(D2.count) as pop
    from Demographics D2
    where D2.year=2020
    group by D2.fips) as P
    where D.agelo > 65 and P.fips=D.fips and C.fips=P.fips and D.year=2020
group by D.fips
order by percentage desc limit 10

---
**Problem 12:** What counties in North Carolina do not have a hospital? Provide each county's name, population, and non-white population percentage in *2020*.

Select C2.name, pop as population, 100*IFNULL(sum(D2.count)*1.0/pop,0) as percentage
from County C2 
LEFT JOIN Demographics D2 ON C2.fips=D2.fips and D2.year = 2020
AND D2.race != 'white',
(Select C.name, sum(D.count) as pop 
		from County C, 
		Demographics D,
        (select  C.name from County C 
        EXCEPT
        select C.name
        from County C, Hospital H, HospitalCounty HC
        where C.fips = HC.fips and H.hid = HC.hid and HC.incounty=1
        Group by C.name) as P
    where P.name = C.name 
		and D.fips=C.fips 
		and D.year = 2020
    group by c.name) as P2
ON C2.name = P2.name 
group by C2.name

---
**Problem 13:**  Which counties had the highest ratio of COVID-19 cases to hospital-bed capacity? Do not consider counties that do not have a hospital and hopitals that have no beds. Output the county's name, its cases-to-bed ratio, and the day it occured.

Select name1, ratio, date1 from
(Select C.name as name1, P1.date as date1, maxCase*1.0/beds as ratio from County C, 
(Select CV.fips, CV.date, max(CV.cases) as maxCase from Covid19 CV
group by CV.fips) as P1,
(Select HC.fips, sum(h.beds) as beds from Hospital H, HospitalCounty HC
where HC.hid = H.hid
group by HC.fips
) as P2
Where P1.fips=P2.fips and C.fips = P1.fips),
(Select C.name as name, P1.date as date, max(maxCase*1.0/beds) as maxRatio from County C, 
(Select CV.fips, CV.date, max(CV.cases) as maxCase from Covid19 CV
group by CV.fips) as P1,
(Select HC.fips, sum(h.beds) as beds from Hospital H, HospitalCounty HC
where HC.hid = H.hid
group by HC.fips
) as P2
Where P1.fips=P2.fips and C.fips = P1.fips)
Where ratio = maxRatio

---
**Problem 14:** Give a breakdown of COVID-19 cases, deaths, and hospitals by geographic region. For each of the geographic regions output the accumulated sum of COVID-19 cases and deaths since January 22, 2020, as well as the number of hospital beds in that region.

Select P2.region, P2.beds, P.cases, P.deaths
from
    (Select C.region, C.name, C.fips, sum(H.beds) as beds
    from County C, Hospital H, HospitalCounty HC
    where C.fips = HC.fips and H.hid=HC.hid and incounty=1
    group by C.region) as P2,
    (Select C.region, CV.fips, sum(cases) as cases, sum(deaths) as deaths from Covid19 CV, County C
    where date > '2020-01-22' and C.fips = CV.fips
    group by C.region) as P
where P2.region = P.region

---
**Problem 15:** On your own, use the web to find the number of ICU beds in one of the hospitals in the given database that is currently reported to be 0 in our database. Write a SQL UPDATE command that sets this value to the one you discovered.

UPDATE Hospital
SET icu =2
where name='Charles George VA Medical Center - Asheville NC'

---
**Problem 16:** Find one of the counties that has no hospital. On your own, use the web to find a nearby hospital in a bordering NC county. Write an INSERT command that inserts this hospital into the HospitalCounty table to indicate that this hospital serves a county where it is not located.

INSERT INTO HospitalCounty
VALUES (1011, 37003, 0)

---
**Problem 17:** New confirmed COVID-19 cases and deaths are reported daily. On your own, use the web to find the number of confirmed cases and deaths for some county not provided in the database. Write an INSERT command to add this new county and date to the COVID-19 table.

INSERT INTO Covid19
VALUES (37183,'2020-09-01',231,2)

---
**Problem 18:** In the given database the numbers of COVID cases and deaths are not broken down according to sex. Assume that this data becomes available. Write *one or more* ALTER TABLE commands that include separate counts for confirmed cases and deaths according to sex, with the assumption that the total case counts includes both sexes as well as cases where the sex was not reported.

Alter table Covid19
Add MaleCases INT;
Alter table Covid19
Add OtherCases INT;
Alter table Covid19
Add FemaleDeaths INT;
Alter table Covid19
Add MaleDeaths INT;
Alter table Covid19
Add OtherDeaths INT;

---
**Problem 19:** Specify a CHECK that enforces that the sex-specific case and death counts are always &le; to the total counts based on your modified table from problem 18. *(this was part of problem 18 in V1.0)*

Check(FemaleCases<=cases AND MaleCases<=cases AND OtherCases<=cases AND) FemaleDeaths<=deaths AND MaleDeaths<=deaths AND OtherDeaths<=deaths

---
**Problem 20:** Generate a list of all hosptials such that the county where they are located appears in their name. *(this was problem 19 in V1.0)*

Select H.name
From County C, Hospital H, HospitalCounty HC
Where C.fips = HC.fips and H.hid=HC.hid and H.name like '%'||C.name||'%'

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.